header {
  text-align:center 
}

  h1 {
 text-align:center
}  
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
figcaption {
  font-size: 10px;
  text-align: center;
}
nav {
  text-align:center;
  padding-left: 10px;
  padding-right:10px;
  margin-left: auto;
  margin-right: auto;
}
a{
  padding-left:10px;
  padding-right:10px;
  background-color:grey;
}
 p {
   text-align:center;
   width: 800px;
}
.featured-p {
  width:800px;
  text-align:center;
}

#details {
  display:block;
  float:left;
}